@media (max-width:750px) {
    header {
        height: 100vh;
        background-color: rgb(55, 0, 0);

        p {
            margin-top: 10px;
            width: 90vw;
            font-size: 15px;
        }


        #profile-image {
            margin-top: 4vh;
            margin-bottom: 4vh;
        }

        .text {
            padding: 10px;
        }
    }

    // ========================================

    section {
        background-color: rgb(211, 80, 5);
        background-blend-mode: luminosity;

        img {
            width: 60px;
            height: 60px;
        }

        .img-fix {
            width: 60px;
            height: 60px;
        }

        .github {
            width: 60px;
            height: 60px;
        }
    }

    // ========================================
    #about-me {
        .about-me-json {
            // margin: 2vh 2vh;
            font-size: 12px;
        }

    }

}