#about-me {
    background-color: rgb(55, 0, 0);
    color: white;
    padding: 10px;

    width: 100vw;
    height: 100vh;
    z-index: -10;

    position: absolute;
    top: 0;
    left: 0;

    h2 {
        margin-top: 4vh;
        padding: 10px;
        text-align: center;
        font-size: 60px;
        font-weight: 100;
    }

    .about-me-json {
        // width: 90%;
        // border: 1px solid white;

        font-size: 14px;
        font-weight: 100;
        font-family: monospace;

        margin: 3vh 1vh;
        padding: 1vh;
        border-radius: 10px;
        // background-color: black;
        color: olive;

        pre {
            width: fit-content;
            background-color: black;
            padding: 1.5vh;
            border-radius: 15px;

            word-wrap: normal;
            text-wrap: wrap;
            transition: 500ms ease-out;
        }

        pre:hover {
            box-shadow: 1px 1px 10px rgb(219, 0, 0);
        }

        // ::selection {
        //     /* Change highlight background color to black */
        //     background: #000;
        //     /* Change highlight text color to red */
        //     color: #ff0000;
        // }

    }


    img {
        transform: scale(0.6);

        width: 300px;
        height: 400px;
        object-fit: cover;
    }
}