/* HEADER */
header {
    background-attachment: fixed;
    background-color: black;
    color: white;
    padding:20px 0;
    min-height: 100vh;

    p {
        margin-top: 20px;
        width: 80vw;
        text-align: center;
        font-size: 20px;
        font-weight: 100;
    }

    .desc {
        #profile-image {
            margin: 5vh;
            border-radius: 50%;
        }

        .text {
            padding: 20px;

            h2 {
                text-align: center;
                padding: 10px;
                color: greenyellow;
                font-size: 40px;
                font-weight: 100;
            }

            // p {
            //     margin-top: 20px;
            //     width: 80vw;
            //     text-align: center;
            //     font-size: 20px;
            //     font-weight: 100;
            // }
        }

        #goto a {
            margin: 10px 0;
        }
    }
}