/* SPLIT-SECTION */

section {
    // position: absolute;
    // top: 0;
    // left: 100vw;

    // height: 120vh;
    // min-height: 120%;

    width: 100vw;
    color: white;

    /* background-color: black; */
    background-image: url("./images/six.jpeg");
    /* background-image: url("./images/hitman-3-bc.jpg"); */
    /* background-image: url("./images/bg2.jpg"); */

    // for media queries
    img {
        width: 80px;
        height: 80px;

        cursor: default;
        /* border-radius: 10%; */
        margin: 1vh 1vh;
    }

    .img-fix {
        width: 100px;
        height: 100px;
    }


    // other     
    #my-skills {
        // min-height:100vh; 
        background-color: black;
        padding:20px 0;

        h2 {
            padding: 2vh 1vh;
            color: white;
        }


        .skills {
            /* border: 1px solid white; */
            padding: 20px;
            margin: 20px 0;
            width: fit-content;
            background-color: rgb(0, 0, 52);
            border-radius: 20px;

            // img {
            //     width: 80px;
            //     height: 80px;

            //     cursor: default;
            //     /* border-radius: 10%; */
            //     margin: 1vh 1vh;
            // }

            // .img-fix {
            //     width: 100px;
            //     height: 100px;
            // }

            .img-fix-small {
                width: 60px;
                height: 60px;
            }

            #recent-project {
                color: white;
                padding: 10px;
            }
        }
    }

}