@keyframes glow {
    0% {
        transform: scale(1.2);

    }

    60% {
        transform: scale(1);
        /* transform: translateX(-10px); */
    }

    /* 100% {
        transform: translateX(10px);
    } */
}

#profile-image {
    /* animation: glow 10s ease-out infinite; */
    animation: glow 3s ease;
}