.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.95;
    z-index: 10;
}

/* ==================================== */

a {
    text-decoration: none;
    transition: 400ms ease-out;
    color: white;
}

a:hover {
    color: yellow;
}

h2 {
    text-align: center;
    padding: 1vh;
    color: greenyellow;
    font-size: 40px;
    font-weight: 100;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 800ms ease;
    margin: 5vh 5vh;
}

button {
    padding: 10px 10px;
    outline: none;
    border: 1px solid white;

    color: white;
    background: transparent;
    transition: 300ms ease;
    cursor: pointer;
}

button:hover {
    color: black;
    background: yellowgreen;
    border: 1px solid yellowgreen;
}